* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: comic sans, cursive;
  overflow-x: hidden;
}

header img {
  height: 100vh;
  width: 100vw;
  padding: 3%;
  /* border-radius: 65px; */
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 80vh;
  width: 97%;
  padding: 1.5%;
}
.welcomeDate {
  align-self: flex-end;
}
.enlarge {
  font-size: 1.6rem;
}

footer {
  margin-top: 3%;
  padding-bottom: 1.5%;
}
footer div {
  display: flex;
  justify-content: space-center;
  align-items: flex-center;
}
.fa-brands {
  padding: 0 5%;
  margin-bottom: 10%;
  font-size: 2.5rem;
}
.fa-square-instagram {
  color: orange;
}
.fa-x-twitter {
  color: green;
}
.fa-linkedin {
  color: purple;
}

@media only screen and (max-width: 518px) {
  header img {
    height: 50vh;
  }
  footer {
    margin-top: 8%;
  }
}
